@font-face {
  font-family: 'lcd';
  src: url('./lcd.woff') format('woff'), /* Super Modern Browsers */
       url('./lcd.ttf')  format('truetype'); /* Safari, Android, iOS */
}

BODY {
  font-family: 'lcd', Fallback, sans-serif;
  background: #020406;
}

#display {
  margin: auto;
  position: relative;
}

#video-display {
  position: absolute;
  left: calc(100vw / 2 - 400px);
  top: calc(100vh / 2 - 300px);
}

#radio-display {
  margin: 363px 260px;
  display: none;
  position: absolute;
  left: calc(100vw / 2 - 400px);
  top: calc(100vh / 2 - 300px);
  width: 268px;
  height: 121px;
  background: #3a2103;
  color: white;
  /* display: inline-block; */
  text-align: center;
  /* height: 120px; */
  line-height: 60px;
  font-size: 30px;
}

.loading {
  display: none;
  position: absolute;
  left : calc(100vw / 2 - 40px);
  top : calc(50vh - 10px);
  border-radius: 10px;
  background: rgba(0,0,0,.4);
  color : #fff;
  font-family: sans-serif;
  padding: 10px;
}

.tv-pic {
  margin: 133px 0 0 180px;
  width: 400px;
  height: 300px;
  display: block;
  background-size: cover;
  -webkit-mask-image: url(./pictures/tv/tvmask.png);
}

.back {
  font-family: sans-serif;
  color: white;
  text-align: center;
  line-height: 100px;
  position: absolute;
  left: calc(100vw / 2 - 400px);
  background: #2b81af;
  width: 800px;
  cursor: pointer;
  height: 100px;
}

.display-pic {
  width: 800px;
  height: 600px;
  margin: auto;
  display: block;
  margin-top: calc(100vh / 2 - 300px);
  background-size: cover;
}